<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

	<appSettings>
		<add key="AdDomainName" value=""/>
		<add key="AdServer"     value="192.168.0.50"/>
		<add key="AdBaseDn"     value="DC=LU60591,DC=local"/>

		<add key="GrpSistemas"      value="App-Sistemas"/>
		<add key="GrpGestor"        value="App-Gestor"/>
		<add key="GrpMedico"        value="App-Medico"/>
		<add key="GrpRecepcionista" value="App-Recepcionista"/>

		<add key="AuthMode" value="LDAP"/>
		<!-- LDAP | Local -->
	</appSettings>

</configuration>
